@page "/"

<PageTitle>SinDinero</PageTitle>

<h1>SinDinero</h1>

<p>Track where your money goes.</p>

<div class="d-flex gap-2">
    <a class="btn btn-primary" href="transactions">Transactions</a>
    <a class="btn btn-outline-secondary" href="categories">Categories</a>
</div>
